/* $Id$ */

BODY {
	background-color: white;
	color: black;
	font-size: 12pt;
}

.headline {
	background-color: white;
	color: #003399;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12pt;
}
            
.headline-small {
	background-color: white;
	color: #003399;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
}
